* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans';
}
.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header - encabezado*/

header {
    width: 100%;
    height: 600px;
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.315), hsla(317, 45%, 52%, 0.377)), url(../img/portada.PNG);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.062), hsla(317, 45%, 52%, 0.664)), url(../img/portada.PNG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Seccion de nosotros*/

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 33%;
    height: 60%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*productos*/

.productos{
    
        width: 100%;
        height: 530px;
        background: #e96443;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.315), hsla(317, 45%, 52%, 0.377)), url(../img/portada.PNG);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(340, 95%, 50%, 0.062), hsla(317, 45%, 52%, 0.664)), url(../img/portada.PNG);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        position: relative;
      
    }

    .contenedor-productos{
        padding: 20px 0;
        margin: 5%;

    }
    .productos h2 {
        color: white;
        text-align: center;
        font-size: 30px;            
    }

.galeria-prod{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    
    
}

.imagen-prod{
   
    height: 24%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 2px 2.5px rgb(255, 255, 255);
    flex: 1;
    border-radius: 55%;

}


.imagen-prod > img{
    align-items: center;
    align-content: center;
    width: 270px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 55%;
    

}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:55%;
}

.hover-galeria img{
    width: 100px;
    border-radius: 60%;
}

.hover-galeria p{
    color: #fff;
}

.imagen-prod:hover .hover-galeria{

    transform: scale(1);
}



/*SECCION DE REGISTRO E INICIO DE SESION*/


.contenedor_general{
    width: 50%;
    margin: auto;
    max-width: 850px;
    margin-top: 0px;
    padding: 100PX 0PX;
    background-image: url(../img/portada2.jpg);
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.178), hsla(317, 45%, 52%, 0.185)), url(../img/portada.PNG);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.021), hsla(317, 45%, 52%, 0.233)), url(../img/portada.PNG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
    

}

.caja__trasera{
    width: 100%;
    padding: 10px 20px; /*10 px de arriba y abajo y 20px para la derecha y la izquierda*/
    display: flex; /*Para que los formulario se coloque uno al lado del otro*/
    justify-content: center;
    backdrop-filter: blur(10px); /*Desenfoca el fondo del contendedor*/
    background-color: rgba(182, 7, 173, 0.226);


}

.caja__trasera div{ /*al colocar el "div" estoy seleccionando las dos cajas de registro e inicio de sesión*/
    margin: 100px 20px; /*Margen de alto (100) y de ancho (40px)*/
    color: white; /*color texto*/
    transition: all 500ms; /*Trancision del bloque*/
    text-align: center;
    margin-right: 30px;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 15px; /*espaciado*/
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px; /*un ancho de 10 px y un espaciado de 40px*/
    border: 2px solid rgba(255, 253, 255, 0.863);
    background: transparent; /*trasparencia del boton*/
    font-size: 14px;
    font-weight: 500; /*groro de letras*/
    cursor: pointer; 
    color: white;
    transition: all 300ms;
    border-radius: 10px;
    
}

.caja__trasera button:hover{ /*Cambio de color cuando el cursor se pare sobre el botton*/
    background-color: white;
    color: #642a73;
    
}

/*Inicio de ajuste formulario*/

.contenedor__login-registro{

     display: flex;/*separe y posicione los formularios de manera vertica*/
    align-items: center;
    width: 100%;
    max-width: 380px;/*ancho*/
    position: relative;
    top: -185px; /*se coloque encima*/
    left: 10px;
    color: #ffffff;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /*(agrega el efecto de transición)*/
  
   
}

.contenedor__login-registro .formulario__registro{
    width: 100%;
    padding: 30px 20px;
    position: absolute;/*para que se pueda mover*/
    background: white;
    border-radius: 10px;
    line-height: 0px;
    text-align: center;
    
}



.contenedor__login-registro .formulario__login{
    width: 100%;
    padding: 105px 40px;
    position: absolute;/*para que se pueda mover*/
    background: #ffffff;
    border-radius: 20px;
    text-align: center;

}
.contenedor__login-registro form h2{
font-size: 28px;
padding: 5px;
text-align: center;
margin-bottom: 10px; /*espacios entre el texto y el formulario*/
color: #4d0686;


}

.contenedor__login-registro form input{ /*espacio de registro*/
    width: 100%;
    margin-top: 10px; /*para mantener un espaciado entre erros*/
    padding: 5px;
    
    border: 1px solid rgba(139, 63, 139, 0.863);
    background-color: rgba(0, 0, 0, 0);/*color de los espacios donde digitan*/
    font-size: 14px;
    outline: none; /*quitar borde negro*/
    text-align: center;
    border-radius: 10px;
   

}

.contenedor__login-registro form button{ /*Boton de registro de datos*/
    padding: 15px 30px; 
    margin-top: 20px;
    border: none;
    font-size: 12px;
    background-color: #642a73;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    
}

.contenedor__login-registro button:hover{ /*Cambio de color cuando el cursor se pare sobre el botton*/
    background-color: #642a7341;
    color: #642a73;
    text-align: center;

}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__registro{
    display: none;


}

.titulo2{
    color: rgb(120, 8, 143);
    text-align: center;
    padding: 30px 0;
    font-size: 50px;
}



/*RESPONSIVE DESING*/

@media screen and (max-width:850px){ /*Ajuste para que cuando se disminuya el tamaño de la pagina esto se adapte*/

    .main{
        margin-top: 50px
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;

    }
    /*formularios*/

    .contenedor__login-registro{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-registro .formulario__login{
        position: relative;
    }
    .contenedor__login-registro .formulario__registro{
        position: relative;
    }

}
